<!DOCTYPE html>
<html>
<head>
	<title>kScores</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- require angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js'>
	</script>
	<script src="//oblador.github.io/angular-parallax/angular-parallax.min.js"></script>
	<script src="//oblador.github.io/angular-scroll/0.6.2/angular-scroll.min.js"></script>
	<script src="./scroll/fullpage-scroll.js"></script>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./scroll/fullpage-scroll.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script type='text/javascript'>

	var board = angular.module('board', ['ngRoute','ui.bootstrap','duParallax','FullpageScroll']);

	board.config(function ($routeProvider, $locationProvider) {
      $routeProvider
        .when('/',{
            templateUrl: 'partials/first.html'
        })
        .otherwise({
          redirectTo: '/'
        });
    });




	</script>
	<!-- CONTROLLERS / FACTORIES -->
  <script type="text/javascript" src="./factories/stats_factory.js"></script>
  <script type="text/javascript" src="./controllers/dashboard_controller.js"></script>

	<!-- FONT -->
	<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app='board' ng-controller="DashboardController">
  <div fullpage-scroll="top" class="wrap container-fluid">
		<div class="block row">
			<div class="col-md-12" style="text-align:center">
				<h2><u>Games Today</u></h2>
				<button ng-click="test()">test</button>
			</div>
			<div class="loader">
				<img ng-if="!games" src="./images/ball.gif">
			</div>
			<div class="game_box col-lg-offset-0 col-md-offset-1 col-sm-12 col-md-5 col-lg-4" ng-repeat="game in games">
				<div class="row logos">
					<div>
						<figure>
							<img src="./images/logos/{{teams[game[0].rowSet[0][7]].short}}.gif">
						</figure>
						<span>{{game[1].rowSet[1][6]}}</span>
					</div>
					<span class="big">@</span>
					<div>
						<figure>
							<img class="logos" src="./images/logos/{{teams[game[0].rowSet[0][6]].short}}.gif">
						</figure>
						<span>{{game[1].rowSet[0][6]}}</span>
				</div>
			</div>
				<p ng-if="game[1].rowSet[1][21]">
					<strong>{{game[0].rowSet[0][4]}} {{game[0].rowSet[0][10]}}</strong>
				</p>
				<p ng-if="game[1].rowSet[1][21]">
					{{game[1].rowSet[1][21]}} - {{game[1].rowSet[0][21]}}
				</p>
				<p ng-if="!game[1].rowSet[1][21]">&nbsp
				</p>
				<p ng-if="!game[1].rowSet[1][21]">
					{{game[0].rowSet[0][4]}}
				</p>
			</div>
		</div>

  </div>
</body>
</html>
