<!DOCTYPE html>
<html>
<head>
	<title>kScores</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./images/favicon.ico" rel="icon" type="image/x-icon" />
	<!-- require angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js'>
	</script>
	<script src="//oblador.github.io/angular-parallax/angular-parallax.min.js"></script>
	<script src="//oblador.github.io/angular-scroll/0.6.2/angular-scroll.min.js"></script>
	<script src="./scroll/fullpage-scroll.js"></script>
	<script src="./bower_components/ui-navbar/release/js/ui-navbar.min.js"></script>
	<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type='text/javascript' src="./js/app.js"></script>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="./bower_components/ui-navbar/release/css/ui-navbar.css">

	<!-- CONTROLLERS / FACTORIES -->
  <script type="text/javascript" src="./factories/stats_factory.js"></script>
  <script type="text/javascript" src="./controllers/dashboard_controller.js"></script>

	<!-- FONT -->
	<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app='board' ng-controller="DashboardController">
  <div fullpage-scroll="top" class="wrap container-fluid">
		<div class="block row">
			<div style="padding:0px 7px" ui-view></div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom bg-faded" role="navigation">
			 <div class="navbar-header">
					 <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
									 ng-click="navCollapsed = !navCollapsed">
							 <span class="sr-only">Toggle navigation</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
					 </button>
			 </div>

			 <!-- Collect the nav links, forms, and other content for toggling -->
			 <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

					 <ul class="nav navbar-nav">
							 <li ng-class="{active: current_page =='standings'}">
							 	 	<a href="#/standings">
										Standings
									</a>
							 </li>

							 <li ng-class="{active: current_page == 'dashboard'}" ng-click="refresh()">
									<a href="#/">
										Games Today
									</a>
							 </li>
							 <li ng-class="{active: current_page == 'leagueleaders'}">
									<a href="#/leaders">
										League Leaders
									</a>
							 </li>
							 <li ng-class="{active: current_page == 'boxscore'}">
									<a href="#/boxscore">
										Box Score
									</a>
							 </li>
					 </ul>
			 </div>
			 <!-- /.navbar-collapse -->
	 </nav>
  </div>
</body>
</html>
