<div class="row">
  <div ng-if="!boxscore" class="warning">
    <h1><i>Please choose a <a href="#/" ng-click="refresh()">game</a>!</i></h1>
  </div>
  <div ng-if="boxscore" class="boxscore">
    <div class="col-md-4 col-lg-4">
      <table class="table table-sm table-bordered table-condensed table-responsive" id="boxscore_table">
        <thead class="thead-default">
          <tr>
            <th class="center_text">Team</th>
            <!-- <th class="center_text">Q1</th>
            <th class="center_text">Q2</th>
            <th class="center_text">Q3</th>
            <th class="center_text">Q4</th>
            <th class="center_text" ng-if="boxscore[1].rowSet[1][11]">OT1</th>
            <th class="center_text"
            ng-if="boxscore[1].rowSet[1][12]">OT2</th>
            <th class="center_text"
            ng-if="boxscore[1].rowSet[1][13]">OT3</th> -->
            <th class="center_text">TOT</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="team in boxscore.teams">
            <th class="center_text">{{team[4]}}</th>
            <!-- <th class="center_text">{{team[7]}}</th>
            <th class="center_text">{{team[8]}}</th>
            <th class="center_text">{{team[9]}}</th>
            <th class="center_text">{{team[10]}}</th>
            <th class="center_text" ng-if="team[11]">{{team[11]}}</th>
            <th class="center_text"
            ng-if="team[12]">{{team[12]}}</th>
            <th class="center_text"
            ng-if="team[13]">{{team[13]}}</th> -->
            <th class="center_text">{{team[23]}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 col-lg-3 clock pull-right">
      <!-- <h2 ng-if="!boxscore[1].rowSet[1][21]">
        {{boxscore[0].rowSet[0][4]}}
      </h2> -->
      <!-- <h2 ng-if="boxscore.teams[0][23]">
        {{boxscore.teams.rowSet[0][4]}} {{boxscore[0].rowSet[0][10]}}
      </h2> -->
    </div>
    <!-- <div class="col-md-4 col-lg-4">
      <h5 ng-if="boxscore[0].rowSet[0][11]">Broadcast: {{boxscore[0].rowSet[0][11]}}</h5>
      <h5>Last Meeting: {{boxscore[3].rowSet[0][5]}}({{boxscore[3].rowSet[0][7]}}) - {{boxscore[3].rowSet[0][10]}}({{boxscore[3].rowSet[0][12]}})</h5>
    </div> -->
  </div>
</div>

<div class="row" ng-if="boxscore.teams[0][23]">
  <div class="col-md-12 col-lg-12">
    <div class="panel-heading" style="text-align:center;">
      <a style="margin-right:25px; cursor:pointer;" ng-click="change_team(boxscore.teams)">{{teams[boxscore[1].rowSet[1][3]].name}}</a>
      <a style="cursor:pointer;"
      ng-click="change_team(boxscore[1].rowSet[0][3])"
      >{{teams[boxscore[1].rowSet[0][3]].name}}</a>
    </div>
  </div>
</div>

<div class="row" ng-if="boxscore[1].rowSet[1][21]">
  <div class="col-md-12 col-lg-12">
    <div class="panel-heading" style="text-align:center;">
      <img src='../images/logos/{{teams[boxscore_team].short}}.gif' />
    </div>
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Player</th>
          <th>POS</th>
          <th>MIN</th>
          <th>FG</th>
          <th>FG%</th>
          <th>3P</th>
          <th>3PT%</th>
          <th>FT</th>
          <th>FT%</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
          <th>+/-</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in boxscore[4].rowSet track by $index" ng-if="player[1] == boxscore_team">
          <td>{{player[5]}}</td>
          <td>{{player[6]}}</td>
          <td ng-if="player[7] == ''">{{player[8]}}</td>
          <td ng-if="player[7] != ''">{{player[7]}}</td>
          <td>{{player[9]}}/{{player[10]}}</td>
          <td>{{player[11]}}</td>
          <td>{{player[12]}}/{{player[13]}}</td>
          <td>{{player[14]}}</td>
          <td>{{player[15]}}/{{player[16]}}</td>
          <td>{{player[17]}}</td>
          <td>{{player[20]}}</td>
          <td>{{player[21]}}</td>
          <td>{{player[22]}}</td>
          <td>{{player[23]}}</td>
          <td>{{player[24]}}</td>
          <td>{{player[27]}}</td>
          <td>{{player[26]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
