<div class="col-md-12" style="text-align:center">
	<button ng-click="test()">test</button>
</div>
<div class="loader">
	<img ng-if="!games" src="./images/ball.gif">
</div>
<div class="game_box col-lg-offset-0 col-md-offset-0 col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="game in games" ng-click="show_boxscore(game)">
	<div class="row logos">
		<div>
			<figure>
				<img src="./images/logos/{{teams[game[0].rowSet[0][7]].short}}.gif">
			</figure>
			<span>{{game[1].rowSet[1][6]}}</span>
		</div>
		<span class="big">@</span>
		<div>
			<figure>
				<img class="logos" src="./images/logos/{{teams[game[0].rowSet[0][6]].short}}.gif">
			</figure>
			<span>{{game[1].rowSet[0][6]}}</span>
	</div>
</div>
	<p ng-if="game[1].rowSet[1][21]">
		<strong>{{game[0].rowSet[0][4]}} {{game[0].rowSet[0][10]}}</strong>
	</p>
	<p ng-if="game[1].rowSet[1][21]">
		{{game[1].rowSet[1][21]}} - {{game[1].rowSet[0][21]}}
	</p>
	<p ng-if="!game[1].rowSet[1][21]">&nbsp
	</p>
	<p ng-if="!game[1].rowSet[1][21]">
		{{game[0].rowSet[0][4]}}
	</p>
</div>
