<div class="row" class="leagueleaders">
  <div ng-if="!players" class="loader">
  	<img src="./images/ball.gif">
  </div>
  <h1 ng-if="players" class="center_text">League Leaders Per Game</h1>
  <div style="padding-top:75px" class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-if="players">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Rank</th>
              <th>Player</th>
              <th class="cf">GP</th>
              <th class="cf" ng-click="get_leaders('MIN')">MIN</th>
              <th class="cf" ng-click="get_leaders('FGM')">FGM</th>
              <th class="cf" ng-click="get_leaders('FGA')">FGA</th>
              <th class="cf">FG%</th>
              <th class="cf" ng-click="get_leaders('FG3M')">3PM</th>
              <th class="cf" ng-click="get_leaders('FG3A')">3PA</th>
              <th class="cf">3P%</th>
              <th class="cf" ng-click="get_leaders('FTM')">FTM</th>
              <th class="cf" ng-click="get_leaders('FTA')">FTA</th>
              <th class="cf">FT%</th>
              <th class="cf" ng-click="get_leaders('OREB')">OREB</th>
              <th class="cf" ng-click="get_leaders('DREB')">DREB</th>
              <th class="cf" ng-click="get_leaders('REB')">REB</th>
              <th class="cf" ng-click="get_leaders('AST')">AST</th>
              <th class="cf" ng-click="get_leaders('STL')">STL</th>
              <th class="cf" ng-click="get_leaders('BLK')">BLK</th>
              <th class="cf" ng-click="get_leaders('TOV')">TOV</th>
              <th class="cf" ng-click="get_leaders('PTS')">PTS</th>
              <th class="cf" ng-click="get_leaders('EFF')">EFF</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy: 'category'">
          <td ng-repeat="i in player track by $index" ng-if="$index != 0 && $index != 3">{{i}}</td>
        </tr>
      </tbody>

    </table>
