html, body{
  height:100vh;
  width:100vw;
  margin: 0;
  padding: 0;
  font-family: 'Ek Mukta', sans-serif;
  background-image: url('../images/court.jpg');/*override as needed*/
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
  overflow:hidden;
}

.wrap{
  height:100vh;
  width:100%;
  margin: 0 auto;
}

.background {
      position: relative;
      width:100%;
      height:100vh;
      margin: -5% 0;
}

.navbar-default{
  position:relative;
  z-index:999;
  width:100%;
  background-color:#FDFFF7 !important;
  height:5%;
  top:82%;
  text-align:center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.nav > li {
  margin-top: -10px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color:#720B87;
}

button .navbar-toggle {
    background-color: black;
}

.block{
  height:65%;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
  position: absolute;
  background: #FDFFF7;
  z-index: 1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  box-sizing:border-box;
  overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.loader img{
  display:block;
  margin:auto;
  z-index:-1;
}

.logos{
  position: relative;
	padding: 0;
}
.logos:last-child {
	padding-bottom: 30px;
}


.logos div {
	position: relative;
	margin: 0;
	padding: 0;
  display:inline-block;
}

.logos div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 150px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 150px;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}


figure:hover+span {
	bottom: -32px;
	opacity: 1;
}

.big{
  font-size:150%;
  font-weight:bold;
  vertical-align: 75%;
}

.game_box{
  padding-top:1px;
  width:90%;
  height:90%;
  margin: 5px 0px;
  font-size:120%;
  text-align:center;
  box-sizing:border-box;
  transition: 1s ease;
  cursor:pointer;
}

.game_box:hover{
  box-shadow: 0 0 0 10px #000000;
  transition: 1s ease;
}


.game_box img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.table tbody>tr>td.center{
    vertical-align: middle;
    font-size:120%;
    font-weight:bold;
}

.playoffs_west{
  font-size: 135%;
  font-weight: bolder;
  color:#B80C09;
}

.playoffs_east{
  font-size: 135%;
  font-weight: bolder;
  color:#2660A4;
}

.fade_logo{
  opacity:.65;
}

.boxscore{
  margin-top:20px;
}

.center_text{
  text-align: center;
}
