html, body{
  height:100vh;
  width:100vw;
  margin: 0;
  padding: 0;
  font-family: 'Ek Mukta', sans-serif !important;
  background-image: url('../images/court.jpg');/*override as needed*/
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
  overflow:hidden;
}

.wrap{
  height:100vh;
  width:100%;
  margin: 0 auto;
}

.background {
      position: relative;
      width:100%;
      height:100vh;
      margin: -5% 0;
}

.navbar-default{
  position:relative;
  z-index:999;
  width:100%;
  background-color:#FDFFF7 !important;
  height:5%;
  top:78%;
  text-align:center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.nav > li {
  margin-top: -10px;
}

nav a{
  color:black !important;
}

.navbar-default .navbar-nav>.active>a{
    background-color:#FA8320 !important;
}


.block{
  transition: all 0.5s ease;
  height:70%;
  top: 46%;
  transform: translateY(-54%);
  width:100%;
  position: absolute;
  background: #FDFFF7;
  z-index: 1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  box-sizing:border-box;
  overflow-y: auto;
  opacity:.93;
}

.block:hover{
  opacity:1;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.loader img{
  display:block;
  margin:auto;
  z-index:-1;
}

.logos{
  position: relative;
	padding: 0;
}
.logos:last-child {
	padding-bottom: 30px;
}


.logos div {
	position: relative;
	margin: 0;
	padding: 0;
  display:inline-block;
}

.logos div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 150px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 150px;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}


figure:hover+span {
	bottom: -32px;
	opacity: 1;
}

.big{
  font-size:150%;
  font-weight:bold;
  vertical-align: 75%;
}

.game_box{
  padding-top:1px;
  width:90%;
  height:90%;
  margin: 5px 0px;
  font-size:120%;
  text-align:center;
  box-sizing:border-box;
  transition: 1s ease;
  cursor:pointer;
}

.game_box:hover{
  box-shadow: 0 0 0 10px #000000;
  transition: 1s ease;
}


.game_box img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.table tbody>tr>td.center{
    vertical-align: middle;
    font-size:120%;
    font-weight:bold;
}

.playoffs_west{
  font-size: 135%;
  font-weight: bolder;
  color:#B80C09;
}

.playoffs_east{
  font-size: 135%;
  font-weight: bolder;
  color:#2660A4;
}

.fade_logo{
  opacity:.65;
}

.boxscore{
  margin-top:20px;
}

.clock{
  border: 2px solid black;
  text-align: center;
}

.center_text{
  text-align: center;
}

.leagueleaders{
  text-size:110%;
  font-weight: 500;
}

.row{
  margin-right:0px !important;
}

.cf{
  cursor:pointer;
}

.warning{
  margin-top:150px;
  text-align: center;
}




/* BALL */
#box {
  position: absolute;
	width: 200px;
	height: 300px;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ball {
	z-index: 3;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
  background-color:orange;

	-webkit-animation: bounce 3.95s forwards infinite;
	-moz-animation: bounce 3.95s forwards infinite;
	-ms-animation: bounce 3.95s forwards infinite;
	animation: bounce 3.95s forwards infinite;
}
#shadow {
	position: absolute;
	height: 5px;
	width: 100px;
  background-color: rgba(0,0,0,1);
	bottom: 10px;
	left: 50%;

	-webkit-animation: shadow 3.85s forwards infinite;
	-moz-animation: shadow 3.85s forwards infinite;
	-ms-animation: shadow 3.85s forwards infinite;
	animation: shadow 3.85s forwards infinite;
}
.loading {
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  margin-left: 10px;
  letter-spacing: 3px;
  bottom: -20px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 8px;
}
@keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 50px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 60px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	85% {
		top: 50px;
		animation-timing-function: ease-in;
	}
  90% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}


@keyframes shadow {
	0% {
		width: 10px;
		border-radius:10px/5px;
		margin-left: -5px;
		-webkit-animation-timing-function: ease-in;
    background-color: rgba(0,0,0,0.2);
	}
	16% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0.9);
	}
	32% {
		width: 30px;
		-webkit-border-radius: 30px/5px;
		margin-left: -15px;
		-webkit-animation-timing-function: ease-in;
    background-color: rgba(0,0,0,.7);
	}
	48% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
    background-color: rgba(0,0,0,.9);
	}
	62% {
		width: 58px;
		-webkit-border-radius:58px/5px;
		margin-left: -29px;
		-webkit-animation-timing-function: ease-in;
    background-color: rgba(0,0,0,0.7);
	}
	78% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-all;
    background-color: rgba(0,0,0,0.9);
	}
	85% {
		width: 58px;
		-webkit-border-radius:58px/5px;
		margin-left: -29px;
		-webkit-animation-timing-function: ease-all;
    background-color: rgba(0,0,0,0.85);
	}
  90% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0.85);
	}
	100% {
		width: 10px;
		-webkit-border-radius:10px/5px;
		margin-left: -5px;
		-webkit-animation-timing-function: ease-in;
    background-color: rgba(0,0,0,0.9);
	}
}
