html, body{
  height:100vh;
  width:100vw;
  margin: 0;
  padding: 0;
  font-family: 'Ek Mukta', sans-serif;
  background-image: url('../images/court.jpg');/*override as needed*/
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
  overflow:hidden;
}

.wrap{
  height:100vh;
  width:100%;
  margin: 0 auto;
}

.background {
      position: relative;
      width:100%;
      height:100vh;
      margin: -5% 0;
}

.block{
  height:70%;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
  position: absolute;
  background: #FDFFF7;
  z-index: 1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  box-sizing:border-box;
  overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.loader img{
  display:block;
  margin:auto;
}

.logos{
  position: relative;
	padding: 0;
}
.logos:last-child {
	padding-bottom: 30px;
}


.logos div {
	position: relative;
	margin: 0;
	padding: 0;
  display:inline-block;
}

.logos div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 150px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 150px;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -32px;
	opacity: 1;
}

.big{
  font-size:150%;
  font-weight:bold;
  vertical-align: 75%;
}

.game_box{
  font-size:120%;
  text-align:center;
  box-sizing:border-box;
}

.game_box:hover{

}
